.pacman {
    width: 50px;
    height: 50px;
    background-image: url('./pic/xosf.gif');
    background-size: 50px;
    background-color: black;
    display: inline-block;
}

.wall {
    width: 50px;
    height: 50px;
    background-image: url('./pic/wall.png');
    display: inline-block;
}

.coin {
    width: 50px;
    height: 50px;
    background-image: url('./pic/coin.png');
    display: inline-block;
}

.empty {
    width: 50px;
    height: 50px;
    background-image: url('./pic/black.jpg');
    display: inline-block;
}

div {
    margin: -2px;
}

#Map {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
}

.blinkymob {
    width: 50px;
    height: 50px;
    background-image: url('./pic/580b57fcd9996e24bc43c316.png');
    background-size: 50px;
    background-color: black;
    display: inline-block;
}

.clydemob {
    width: 50px;
    height: 50px;
    background-image: url('./pic/580b57fcd9996e24bc43c31b.png');
    background-size: 50px;
    background-color: black;
    display: inline-block;
}

.inkymob {

    width: 50px;
    height: 50px;
    background-image: url('./pic/580b57fcd9996e24bc43c310.png');
    background-size: 50px;
    background-color: black;
    display: inline-block;
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 160px;
    margin-top: 5%;
}

.span1 {
    position: fixed;
    right: 13%;
    top: 27%;
}

body {
    background-color: black;
}

.idh2 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: yellow;
    margin-left: auto;
    margin-right: auto;
}

.span2, .span3 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: yellow;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100px;
}
