.pacman {
    width: 50px;
    height: 50px;
    background-image: url('./pic/xosf.gif');
    background-size: 50px;
    background-color: black;
    display: inline-block;
}

.wall {
    width: 50px;
    height: 50px;
    background-image: url('./pic/wall.png');
    display: inline-block;
}

.coin {
    width: 50px;
    height: 50px;
    background-image: url('./pic/coin.png');
    display: inline-block;
}

.empty {
    width: 50px;
    height: 50px;
    background-image: url('./pic/black.jpg');
    display: inline-block;
}

div {
    margin: -2px;
}

#Map {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
}

.blinkymob {
    width: 50px;
    height: 50px;
    background-image: url('./pic/580b57fcd9996e24bc43c316.png');
    background-size: 50px;
    background-color: black;
    display: inline-block;
}

.clydemob {
    width: 50px;
    height: 50px;
    background-image: url('./pic/580b57fcd9996e24bc43c31b.png');
    background-size: 50px;
    background-color: black;
    display: inline-block;
}

.inkymob {

    width: 50px;
    height: 50px;
    background-image: url('./pic/580b57fcd9996e24bc43c310.png');
    background-size: 50px;
    background-color: black;
    display: inline-block;
}

.chain{

    width: 50px;
    height: 50px;
    background-image: url('./pic/71C8HOJLaBL._AC_SY679_.jpg');
    background-size: 50px;
    background-color: black;
    display: inline-block;
}


.button {
    background-color: #2d6bb1;
    border: 1px;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    width: 160px;
    margin-top: 4%;
    font-size: 16pt;
}

.span1 {
    position: fixed;
    right: 13%;
    top: 27%;
}

 body {
    background-color: black;
} 

.idh2 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: yellow;
    margin-left: auto;
    margin-right: auto;
}

 .span2 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: yellow;
    
     margin-top: 10px;
    width: 150px;
    font-size: 19pt;
}

 .livediv{
    background-image: url('./pic/6.png');
    width:50px;
    height:50px;
     display:inline-block;
 
    background-size: 50px;
    margin-left: 10px;

} 
.outerDiv{
    width: 970px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
    margin: auto;
    margin-top: 20px;  
}


